@import url(../../vars.css);

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(90deg,
     rgba(255, 255, 255, 1)7%, 
    rgba(255, 255, 255, 0) 120%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.description {
    font-size: 30px;
    font-family: var(--font-roboto);
    margin-bottom: 32px;
}

.contactBtn {
    text-decoration: none;
    background-color: #063970;
    color: var(--color-text);
    border-radius: 100px;
    font-size: 20px;
    font-weight: 600;
    padding: 7px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for smooth effect */
}

.contactBtn:hover {
    background-color: #045a8d; /* Change to your desired hover color */
    color: #ffffff; /* Change to your desired text color on hover */
}

.heroImg {
    width: 50%;  /* Makes the image width 80% of its container's width */
    max-width: 300px;  /* Ensure it doesn't exceed 600px */
    height: auto;  /* Maintains aspect ratio */
    z-index: 1;
    border-radius: 30%;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
  }

  .topBtn {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -120px;
    left: 10vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
  }

  .bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 250px;
    top: 246px;
    right: -25vw;
    border: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
  }

  @media screen and(max-width : 830px) {
    .container {
        flex-direction: column-reverse;
    }
    .content {
        align-items: center;
    }
    
  }